<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.2/phpunit.xsd"
    bootstrap="./test/bootstrap.php"
    beStrictAboutTestsThatDoNotTestAnything="true"
    colors="true"
    verbose="true"
>
	<testsuites>
		<testsuite name="App">
			<file>./test/AppTest.php</file>
			<file>./test/CAppTest.php</file>
		</testsuite>
		<testsuite name="Controller">
			<file>./test/Controller/AbstractControllerTest.php</file>
			<file>./test/Controller/CLIControllerTest.php</file>
		</testsuite>
		<testsuite name="Service">
			<file>./test/Service/ContainerTest.php</file>
			<file>./test/Service/RenderingEngine/AbstractRenderingEngineTest.php</file>
			<file>./test/Service/RenderingEngine/PHPRenderingEngineTest.php</file>
			<file>./test/Service/RenderingEngine/MergedRenderingEngineTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>